<h1>I'm going to guess your gender!</h1>

<%= form_for :person, url: people_path, remote: true do |f| %>
  <p>
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </p>

  <p>
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </p>

  <p>
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </p>

  <p><%= f.submit %></p>
<% end %>
